.header {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  padding: .5rem;
  position: sticky;
  top: 0;
}

.episodes-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
  padding: .5rem;
}

.episode {
  padding: .5rem;
}

.episode--action {
  display: flex;
  justify-content: space-between;
}

.episode--action button {
  cursor: pointer;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #FFFA82;
  border-right: 16px solid #68E1FE;
  border-bottom: 16px solid #FAA6FB;
  border-left: 16px solid #FC6353;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}